html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  background-color: #ececec;

  position: relative;

  color: rgba(0, 0, 0, 0.5);
  background-image: url('../../components/images/header/spinach/spinach-right-desc-header-2x.png'),
    url('../../components/images/header/spinach/spinach-left-header-desc-2x.png');
  background-position: right 60px bottom -50px, left 0px bottom -300px;
  background-repeat: no-repeat, no-repeat;
  background-size: 438px 474px, 558px 852px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  min-height: inherit !important;
}
*[dir='rtl'] .select,
:root:lang(ar) .select,
:root:lang(iw) .select {
  background-position: left 0.7em top 50%, 0 0;
  padding: 0.6em 0.8em 0.5em 1.4em;
}
