html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  background-color: #ececec;

  position: relative;

  color: rgba(0, 0, 0, 0.5);

  background-image: url('../../components/images/spinach/main.png');
  background-repeat: no-repeat;
  background-position: left 0 bottom 335px;
  background-size: 300px auto;

  @media screen and (min-width: 768px) {
    background-position: left 0 bottom 165px;
    background-size: 658px 858px;
  }
}

.visually-hidden {
  position: fixed;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  min-height: inherit !important;
}
// *[dir='rtl'] .select,
// :root:lang(ar) .select,
// :root:lang(iw) .select {
//   background-position: left 0.7em top 50%, 0 0;
//   padding: 0.6em 0.8em 0.5em 1.4em;
// }

div .css-jqjsgd {
  margin: 0;
  padding: 0;
}

div.css-zucop6 {
  margin-bottom: 0;
}

div.css-zjpdpf {
  display: none;
}

div.css-306mec {
  height: 100vh;
  background-image: url('../../components/images/spinach/main.png');
  background-position: left 0 bottom -130px;
  background-size: 658px 858px;
  background-repeat: no-repeat;
}
