.btn {
  display: block;
  margin: 0 auto;
  width: 161px;
  height: 52px;

  background: $greenButton;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;

  color: $textGreenBtn;
  border: 1px solid $greenButton;
  border-radius: 24px 44px;

  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  border-radius: 24px 44px;

  &:hover,
  &:focus {
    background: $darkButton;
  }

  &.blackbtn {
    background-color: $darkButton;
    border: 1px solid $darkButton;

    &:hover,
    &:focus {
      background: $greenButton;
    }
  }

  &.categorybtn {
    background: $greenButton;
    border: 1px solid $textGreenBtn;
    color: $textGreenBtn;

    &:hover,
    &:focus {
      background: transparent;
      border: 1px solid $greenButton;
      color: $greenButton;
    }
  }

  &.logoutbtn {
    font-size: 14px;
    line-height: 1.5;
    width: 141px;
    height: 43px;
  }

  // &.recipesbtn {
  //   width: 150px;
  //   height: 35px;
  //   font-style: normal;
  //   font-weight: 400;
  //   font-size: 10px;
  //   line-height: 15px;
  //   background: transparent;
  //   color: #23262a;
  //   border-radius: 24px 44px;
  //   border: 1px solid $greenButton;
  //   margin-top: 30px;

  //   &:hover,
  //   &:focus {
  //     background: $greenButton;
  //     border: 1px solid $greenButton;
  //     color: white;
  //   }

  //   @media (min-width: 768px) {
  //     width: 184px;
  //     height: 57px;
  //     font-size: 16px;
  //     line-height: 24px;
  //   }
  // }

  @media (min-width: 768px) {
    width: 184px;
    height: 57px;
  }
}