.title {
  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 28px;

  letter-spacing: -0.02em;

  color: $titleColor;
  margin: 50px 0px 0px 16px;

  @media (min-width: $tablet) {
    font-weight: 600;
    font-size: 32px;
    margin: 72px 0px 0px 32px;
  }

  @media (min-width: $desktop) {
    font-weight: 600;
    font-size: 44px;
    margin: 100px 0px 0px 100px;
  }
}
