/* Colors */
$color1: #333;

/* Sizes */
$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;

/* Texts */

/* Animations */
$animation-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
